@charset "utf-8";
.show-tweets {margin: auto; padding:0; overflow: hidden; display:none;padding-bottom:8px; margin-bottom:8px;}
.tweets-container {text-align: left; margin-bottom: 5px;margin-top:0px; height:40px; padding-left:0;}
.tweets-container i {text-align: left;padding-bottom:3px; margin-bottom:2px;margin-top:0px;font-size: 46px; padding-left:0; cursor: pointer; -webkit-transition: all 0.1s ease-in-out; -moz-transition: all 0.1s ease-in-out; -ms-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out;transition: all 0.1s ease-in-out;}
.tweets-container i:hover {color: #000;padding-lef:0;}
.show-tweets {height: 50px!important; padding:8px 3px!important;}
.show-tweets li {padding-left:0;;color: #276171; background:none; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding: 2px 0px 0px 0px;line-height: 30px; list-style: none; font-size: 18px; text-align: left;}
.show-tweets li .state {font-size: inherit;margin: 0;}
.show-tweets span.hour {font-weight: 600; font-size: 14px;}
.show-tweets li a {color:#276171; padding-bottom: 6px;}
.show-tweets li a:hover {color:#72a2b3; text-decoration: none;}
@media screen and (max-width:992px){
	.tweets-container i {font-size: 26px;}
	.show-tweets li {font-size: 20px;}
}
@media screen and (max-width:768px){
	.show-tweets li {font-size: 16px;}
}
@media screen and (max-width:660px){
	.sky-news-bar-button {padding:0px 15px;}
	.sky-new-list, .sky-wrapper {overflow:hidden;}
}
@media screen and (max-width:580px){
	.show-tweets li {clear:both;}
	.sky-news-bar-button {padding:0px 7px!important; z-index:15; position:absolute; right:20px; top:35px;}
}